<div class="row">
  <!-- Building List Container -->
  <div class="col-md-4 ">
    <div class="card">
      <div class="card-header">

        <h3 class="fl">
          Building List
        </h3>
        <!--Filtering DropDown List -->
        <div class="fr">
            <button class="btn btn-secondary fr" (click)="btnNewClicked();">
                <span >
                  AddNew
                  <i class="fa fa-plus-circle"></i>
                </span>
              </button>
          <div class="dropdown fr">
            <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{this.filteringBy}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="filteringBuildings(-1);">All Buildings</a>
              <a *ngFor="let area of this.areas" class="dropdown-item" (click)="filteringBuildings(area.id);">{{area?.desc}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body no-pad">
        <!-- Building List -->
        
        <ul class="list-group">
          <li *ngFor='let building of this.filterBuildings' class="list-group-item" (click)="showBuildingDetails(building.buildingId);" [class.active]="(this.isShowDetails) && building.buildingId == this.buildingDetails.buildingId">
            {{ building?.streetName + " " + building?.streetNumber + " " + this.GetAreaDesc(building.areaId)}}
          </li>
        </ul>

        <!-- <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <!-- Building Details Container -->
  <div class="col-md-8 ">
    <div class="card">
      <div class="card-header">
        <h3 class="fl">
          Building Details
        </h3>
        <span *ngIf='!this.isAddNewMode && this.buildingDetailsEdit'>
          <span class="fr" (click)='deleteBuilding(this.buildingDetailsEdit.buildingId);'>
              <i class="fa  fa-lg fa-trash mar-t-10"></i>
            </span>
        </span>
        <span *ngIf='this.isAddNewMode'>
            <span class="fr" (click)='checkAndSave();'>
                <i class="fa  fa-lg fa-save pad-l-10 mar-t-10"></i>
              </span>
              <span *ngIf="this.isAddNewMode" class="fr" (click)="exitNewMode();">
                  <i class="fa  fa-lg fa-undo mar-t-10"></i>
                </span>
          </span>

      </div>
      <div class="card-body" [class.dn]='!this.isShowDetails && !this.isAddNewMode'>
        <!-- Read Only -->
        <div [class.dn]='!this.isShowDetails'>
          <!-- First row  -->
          <div class="row">
            <div class="col-md-6 ">
              <h3 class="fl">Area</h3>
              <div class="fr">                                                      
                <div class="btn btn-secondary">{{this.buildingDetailsEdit?.areaId ? this.GetAreaDesc(this.buildingDetailsEdit?.areaId) : "None"}}</div>
              </div>
            </div>
            <div class="col-md-1">
              <!-- Empty div -->
            </div>
            <div class="col-md-4 ">
              <!-- Empty div -->
            </div>
          </div>
          <!-- Second Row -->
          <div class="row">
            <!-- street Name -->
            <div class="col-md-6 ">
              <label>street Name: </label>
              <!-- Example single danger button -->
              <div class="fr">
                <div class="btn btn-secondary">{{this.buildingDetailsEdit?.streetName ? this.buildingDetailsEdit?.streetName : "None" }}</div>
              </div>
            </div>
            <!-- street Number -->
            <div class="col-md-4">
              <label>street Number:</label>
              <div class="fr">
                <div class="btn btn-secondary">{{this.buildingDetailsEdit?.streetNumber ? this.buildingDetailsEdit?.streetNumber : "None" }}</div>
              </div>
            </div>
            <div class="col-md-2">
              <!-- empty div -->
            </div>
          </div>
          <!-- Third Row -->
          <div class="row">
            <div class="col-md-6 ">
              <label>Trash Disposal Area: {{this.buildingDetailsEdit?.trashDisposalArea}} Square metre</label>
            </div>
            <div class="col-md-6 ">
               <!-- empty div -->
            </div>
          </div>
        </div>

        <!-- Edit Mode -->
        <div [class.dn]='!this.isAddNewMode'>
          <!-- First row  -->
          <div class="row">
            <div class="col-md-4 ">
              <h3 class="fl">Area </h3>
              <div class="fr">
                <div class="dropdown">
                  <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.buildingDetailsEdit?.areaId ? this.GetAreaDesc(this.buildingDetailsEdit?.areaId) : "None"}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let area of areas" class="dropdown-item" (click)="AddArea(area);">{{area.desc}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <!-- Empty Div -->
            </div>
            <div class="col-md-4 ">
              <!-- Empty Div -->
            </div>
          </div>
          <!-- Second Row -->
          <div class="row">
            <!-- Area -->
            <div class="col-md-4 ">
                <label>street Name: </label>
                <!-- Example single danger button -->
                <div class="fr">
                  <input *ngIf="this.isAddNewMode" type="text" placeholder="{{this.buildingDetailsEdit.streetName}}" 
                          name="inputStreetName" (focusout)="updateStreetName($event.target.value)">
                </div>
              </div>
            <!-- Street Number -->
            <div class="col-md-5 ">
                <label>Street Number:</label>
                <div class="fr">
                  <input *ngIf="this.isAddNewMode" type="text" placeholder="{{this.buildingDetailsEdit.streetNumber}}" 
                          OnlyNumber="true" name="inputStreetNumber" (focusout)="updateStreetNumber($event.target.value)">
                </div>
              </div>
            <div class="col-md-2">
              <!-- empty div -->
            </div>
          </div>
          <!-- Third Row -->
          <div class="row">
            <div class="col-md-6 ">
              <label>Trash Disposal Area: </label>
                <input *ngIf="this.isAddNewMode" type="text" placeholder="{{this.buildingDetailsEdit.trashDisposalArea}}" 
                        OnlyNumber="true" name="inputCapacity" (focusout)="updateTrashDisposalArea($event.target.value)">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
<!-- Failed -->
<div class="row">
  <div class="col-md-4">
      <!-- empty div -->
  </div>
  <div class="col-md-6 ">
      <div class="alert alert-danger" role="alert" [class.dn]="!this.errorDupl">
          There is already building in this address.
        </div>
  </div>
</div>
