
  <div class="row" style="margin-bottom: 30px; margin-top:30px; height:120px">
    <div class="col-md-4 ">
        <button routerLink="/bin" type="button" class="btn btn-primary btn-lg btn-block" style="height:120px;">Bin Management</button>
    </div>
    <div class="col-md-4 ">
        <button routerLink="/truck" type="button" class="btn btn-primary btn-lg btn-block"  style="height:120px;">Truck Management</button>
    </div>
    <div class="col-md-4 ">
        <button routerLink="/building&area" type="button" class="btn btn-primary btn-lg btn-block" style="height:120px;">Building and Area Management</button>
    </div>
  </div>
  <div class="row" style="margin-bottom: 30px; height:120px">
    <div class="col-md-4">
        <button routerLink="/efficientAllocation" type="button" class="btn btn-primary btn-lg btn-block" style="height:120px;">Efficient allocation</button>
    </div>
    <div class="col-md-4">
        <button routerLink="/effectiveScheduling" type="button" class="btn btn-primary btn-lg btn-block" style="height:120px;">Effective scheduling</button>
    </div> 
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg btn-block" style="height:120px;">Operation C</button>
    </div>
  </div>