<div class="row pad-t-20">
  <div class="col-md-4">
    <div>
      <h1 class="text-center" style="margin: auto">ליאור ברבן פרץ</h1>
      <img class="profile-pic" src="https://st.depositphotos.com/1594920/2514/i/950/depositphotos_25148155-stock-photo-maine-coon-cat-sitting-and.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="text-center">עידן קשטן</h1>
    <div>
      <img class="profile-pic" src="https://st.depositphotos.com/1594920/2514/i/950/depositphotos_25148155-stock-photo-maine-coon-cat-sitting-and.jpg"
        alt="">
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="text-center"> גיא אגיב</h1>
    <div>
      <img class="profile-pic" src="https://st.depositphotos.com/1594920/2514/i/950/depositphotos_25148155-stock-photo-maine-coon-cat-sitting-and.jpg"
        alt="">
    </div>
  </div>
</div>