<div class="row">
  <div class="col-md-4 border-debug-blue">
    <div class="card">
      <div class="card-header">
        Bin List
      </div>
      <div class="card-body">
        <!-- TODO - make it dynamic -->
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>

        <!-- <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <!-- Bin List -->

  </div>
  <div class="col-md-8 border-debug-red">
    <div class="card">
      <div class="card-header">
        Bin Details
      </div>
      <div class="card-body">
        <!-- Read Only -->
        <!-- First row  -->
        <div class="row">
          <div class="col-md-8 border-debug-green">
            <h3>Bin Type {{"X"}}</h3>
          </div>
          <div class="col-md-4 border-debug-blue">
            <h3>Capacity - {{"90%"}}</h3>
          </div>
        </div>
        <!-- Second Row -->
        <div class="row">
          <div class="col-md-6 border-debug-green">
            <label>Address: {{"harokmim 26"}}</label>
          </div>
          <div class="col-md-4 border-debug-blue">
            <label>Area: </label>
            <!-- Example single danger button -->
            <div class="fr">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <!-- empty div -->
          </div>
        </div>
        <!-- Third Row -->
        <div class="row">
          <div class="col-md-6 border-debug-green">
            <label>Current Capacity: {{150}} Litres</label>
          </div>
          <div class="col-md-6 border-debug-green">
            <label>Max Capacity: {{300}} Litres</label>
          </div>
        </div>

        <!-- Edit Mode -->
        <div>
        </div>
      </div>
    </div>
  </div>
</div>