<div class="row">
  <!-- Bin List Container -->
  <div class="col-md-4 ">
    <div class="card">
      <div class="card-header">

        <div class="row pad-l-20">
          <div class="col-md-12">
            <h3 class="fl">
              Bin List
            </h3>
            <!--Filtering DropDown List -->
            <div class="fr">
              <div class="dropdown fr mar-l-20">
                <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{this.filteringBy}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filteringBin(-1);">All Bins</a>
                  <a *ngFor="let binType of this.binTypes" class="dropdown-item" (click)="filteringBin(binType.binTypeId);">{{binType?.binTypeDesc}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pad-l-20 pad-t-10">
          <div class="col-md-12">
          <div class="fl">
            <span>
              <input type="checkbox" (change)='this.filterByBuilding()' [checked]='this.isShowBinsWithoutBuildings'> Show unallocated bins
            </span>
          </div>
          <div class="fr">
            <button class="btn btn-secondary fr" (click)="btnNewClicked();">
              <span>
                Add New
                <i class="fa fa-plus-circle"></i>
              </span>
            </button>
          </div>
        </div>
        </div>

      </div>
      <div class="card-body no-pad">
        <!-- Bin List -->

        <ul class="list-group">
          <li *ngFor='let bin of this.filterBins' class="list-group-item" (click)="showBinDetails(bin.binId);" [class.active]="(this.isShowDetails || this.isEditMode) && bin.binId == this.binDetails.binId">
            {{bin.binTypeDesc +" "}}{{ bin.cityAddress ? bin.cityAddress : " " + " "}}{{" " + bin?.streetAddress}}
          </li>
        </ul>

        <!-- <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <!-- Bin Details Container -->
  <div class="col-md-8 ">
    <div class="card">
      <div class="card-header">
        <h3 class="fl">
          Bin Details
        </h3>
        <span *ngIf='!this.isAddNewMode && !this.isEditMode && this.binDetailsEdit'>
          <span class="fr" (click)='btnEditClicked();'>
            <i class="fa fa-lg fa-edit pad-l-10 mar-t-10"></i>
          </span>
          <span class="fr" (click)='deleteBin(this.binDetailsEdit.binId);'>
            <i class="fa  fa-lg fa-trash mar-t-10"></i>
          </span>
        </span>
        <span *ngIf='this.isAddNewMode || this.isEditMode'>
          <span class="fr" (click)='checkAndSave();'>
            <i class="fa  fa-lg fa-save pad-l-10 mar-t-10"></i>
          </span>
          <span *ngIf="this.isEditMode" class="fr" (click)="exitEditMode();">
            <i class="fa  fa-lg fa-undo mar-t-10"></i>
          </span>
          <span *ngIf="this.isAddNewMode" class="fr" (click)="exitNewMode();">
            <i class="fa  fa-lg fa-undo mar-t-10"></i>
          </span>
        </span>

      </div>
      <div class="card-body" [class.dn]='!this.isShowDetails && !this.isEditMode && !this.isAddNewMode'>
        <!-- Read Only -->
        <div [class.dn]='!this.isShowDetails'>
          <!-- First row  -->
          <div class="row">
            <div class="col-md-7 ">
              <h3 class="fl">Bin Type</h3>
              <div class="fr">
                <div class="btn btn-secondary">{{this.binDetailsEdit?.binTypeDesc ? this.binDetailsEdit?.binTypeDesc : "Bin Type"}}</div>
              </div>
            </div>
            <div class="col-md-1">
              <!-- Empty div -->
            </div>
            <div class="col-md-4 ">
              <h3>Capacity: {{(this.binDetails?.currentCapacity * 100) / this.binDetails?.maxCapacity | number}}% </h3>
            </div>
          </div>
          <!-- Second Row -->
          <div class="row">
            <!-- Area -->
            <div class="col-md-6 ">
              <label>Area: </label>
              <!-- Example single danger button -->
              <div class="fr">
                <div class="btn btn-secondary">{{this.binDetails?.cityAddress ? this.binDetails.cityAddress : "None" }}</div>
              </div>
            </div>
            <!-- Address -->
            <div class="col-md-4">
              <label>Address:</label>
              <div class="fr">
                <div class="btn btn-secondary">{{this.binDetails?.streetAddress ? this.binDetails?.streetAddress : "None" }}</div>
              </div>
            </div>
            <div class="col-md-2">
              <!-- empty div -->
            </div>
          </div>
          <!-- Third Row -->
          <div class="row">
            <div class="col-md-6 ">
              <label>Current Capacity: {{this.binDetails?.currentCapacity}} Litres</label>
            </div>
            <div class="col-md-6 ">
              <label>Max Capacity: {{this.binDetails?.maxCapacity}} Litres</label>
            </div>
          </div>
        </div>

        <!-- Edit Mode -->
        <div [class.dn]='!this.isEditMode && !this.isAddNewMode'>
          <!-- First row  -->
          <div class="row">
            <div class="col-md-7 ">
              <h3 class="fl">Bin Type </h3>
              <div class="fr">
                <div class="dropdown">
                  <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.binDetailsEdit?.binTypeDesc ? this.binDetailsEdit?.binTypeDesc : "Bin Type"}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let binType of binTypes" class="dropdown-item" (click)="addBinType(binType);">{{binType.binTypeDesc}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <!-- Empty Div -->
            </div>
            <div class="col-md-4 ">
              <h3 *ngIf="this.isEditMode">Capacity: {{(this.binDetails?.currentCapacity * 100) / this.binDetails?.maxCapacity | number}}%</h3>
              <h3 *ngIf="this.isAddNewMode">Capacity: 0%</h3>
            </div>
          </div>
          <!-- Second Row -->
          <div class="row">
            <!-- Area -->
            <div class="col-md-6 ">
              <label>Area: </label>
              <!-- Example single danger button -->
              <div class="fr">
                <div class="dropdown">
                  <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.binDetailsEdit?.cityAddress ? this.binDetailsEdit.cityAddress : "Area"}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let area of areas" class="dropdown-item" (click)="addCity(area)">{{area.desc}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Address -->
            <div class="col-md-4 ">
              <label>Address:</label>
              <!-- Street Number -->
              <div class="fr">
                <div class="dropdown">
                  <button class="btn btn-secondary" [class.dropdown-toggle]="true" [class.disabled]="false" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!this.isCitySelected">
                    {{this.binDetailsEdit?.streetAddress ? this.binDetailsEdit.streetAddress : "Address"}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let building of buildingsInArea" class="dropdown-item" (click)="addStreetAddress(building)">{{building.streetName + " " + building.streetNumber}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <!-- empty div -->
            </div>
          </div>
          <!-- Third Row -->
          <div class="row">
            <div class="col-md-6 ">
              <label>Current Capacity: </label>
              <label *ngIf="this.isAddNewMode"> 0</label>
              <input *ngIf="this.isEditMode" type="text" placeholder="{{this.binDetailsEdit.currentCapacity}}" OnlyNumber="true" name="inputCapacity"
                (focusout)="updateCurrentCapacity($event.target.value)">
              <!-- change current capacity - asign it to var ?? -->
            </div>
            <div class="col-md-6 ">
              <label>Max Capacity: {{this.binDetailsEdit?.maxCapacity}} Litres</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>